.shop-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-container {
    /* width: 510px;
    height: 310px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative; */

}