.shop-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    /* width: 510px;
    height: 310px;
    border: 1px solid #95A0A7;
    border-radius: 8px; */
    background-color: #ffff;
}

.cart-item {
    padding: 30px 20px;
}

.cart-btn {
    padding: 10px 20px;
    border: none;
    background-color: aqua;
    border-radius: 10px;
}

.cart-btn:hover {
    background-color: orange;
}

@media screen and (max-width: 1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}